
    <footer class="footer footer-black  footer-white ">
        <div class="container-fluid">
            <div class="row">
            <nav class="footer-nav">
                <ul>
                <li>
                    <a target="_blank" rel="sponsored noopener noreferrer" 
                       href="https://www.centrosur.gob.ec/">Empresa Electrica Regional Centro sur C.A</a></li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    Departamento de Control de la Medición
                </span>
            </div>
            </div>
        </div>
    </footer>
