{% extends "layouts/base.html" %}

{% block title %} User Profile {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="content">
    <form method="post">

      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}

            {% if category == "exito" %}
              <div class="alert alert-success alert-dismissible fade show">
                <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
                  <i class="nc-icon nc-simple-remove"></i>
                </button>
                <span><b>Correcto: </b>{{ message }}</span>
              </div>
            {% endif %}

            {% if category == "error" %}
              <div class="alert alert-danger alert-dismissible fade show">
                <button type="button" aria-hidden="true"  class="close" data-dismiss="alert" aria-label="Close">
                  <i class="nc-icon nc-simple-remove"></i>
                </button>
                <span><b>Error: </b>{{ message }}</span>
              </div>
            {% endif %}

            {% if category == "advertencia" %}
              <div class="alert alert-warning alert-dismissible fade show">
                <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
                  <i class="nc-icon nc-simple-remove"></i>
                </button>
                <span><b>Advertencia: </b> {{ message }}</span>
              </div>
            {% endif %}

          {% endfor %}
        {% endif %}
      {% endwith %}

      <div class="row">
        <div class="col-md-12">
          <center>
            {{ params[1].administrar(class_="btn") }}
        </center>
        </div>
      </div>

      <div class="row" id="divTablaOrdenes">

        <h5>Órdenes</h5>

        <div class="table-responsive">
          <table id="data" class="table">
            <thead class=" text-primary">
              <th class="text-center">Número</th>
              <th class="text-center">Cliente</th>
              <th class="text-center">Fecha de creación</th>
              <th class="text-center">Estado</th>
              <th class="text-center">Comentario</th>
              <th class="text-center">Instalación</th>
              <th class="text-center">Medidor</th>
              <th class="text-center">Grupo revisor</th>
            </thead>
            <tbody>
              {% for orden in params[0] %}
                <tr onclick="cambiarColorRow(this, '{{ orden.numeroOrden }}')">
                  <td class="text-center">{{ orden.numeroOrden }}</td>
                  <td class="text-center">{{ orden.cliente }}</td>
                  <td class="text-center">{{ orden.fechaCreacion }}</td>
                  <td class="text-center">{{ orden.estado }}</td>
                  <td class="text-center">{{ orden.comentarioInicial }}</td>
                  <td class="text-center">{{ orden.instalacion }}</td>
                  <td class="text-center">{{ orden.medidor }}</td>
                  <td class="text-center">{{ orden.grupo }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

      <input id="input_orden_administrar" name="input_orden_administrar" type="hidden" value="0">

    </form>
  </div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
  $(document).ready(function () {
      $('#data').DataTable();
    });
</script>

<script>
  function cambiarColorRow(o, numero_orden){
    var table = document.getElementById("data");
    var rows = table.getElementsByTagName("tr") ;
    for (var i=0; i<rows.length; i++) {
        rows[i].style.backgroundColor = "white";
    }

    document.getElementById('input_orden_administrar').value = numero_orden
    o.style.backgroundColor='#78CBCE';

  }
</script>


{% endblock javascripts %}
