{% extends "layouts/base.html" %}

{% block title %} Login {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- End Navbar -->
    <div class="content">

      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}

            {% if category == "exito" %}
              <div class="alert alert-success alert-dismissible fade show">
                <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
                  <i class="nc-icon nc-simple-remove"></i>
                </button>
                <span><b>Correcto: </b>{{ message }}</span>
              </div>
            {% endif %}

            {% if category == "error" %}
              <div class="alert alert-danger alert-dismissible fade show">
                <button type="button" aria-hidden="true"  class="close" data-dismiss="alert" aria-label="Close">
                  <i class="nc-icon nc-simple-remove"></i>
                </button>
                <span><b>Error: </b>{{ message }}</span>
              </div>
            {% endif %}

            {% if category == "advertencia" %}
              <div class="alert alert-warning alert-dismissible fade show">
                <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
                  <i class="nc-icon nc-simple-remove"></i>
                </button>
                <span><b>Advertencia: </b> {{ message }}</span>
              </div>
            {% endif %}

          {% endfor %}
        {% endif %}
      {% endwith %}

      <div class="row">
        <div class="col-md-8">
          <div class="card card-user">
            <div class="card-header">
              <h5 class="card-title">
                  Login
              </h5>
              <p>
                  Ingrese su usuario y contraseña
              </p>
            </div>
            <div class="card-body">
              <form method="post" enctype="multipart/form-data">
                {{ params[0].hidden_tag() }}

                <div class="row">
                  <div class="col-md-6 pr-1">
                    <div class="form-group">
                      <label>Usuario</label>
                      {{ params[0].user(class_='form-control') }}
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6 pr-1">
                    <div class="form-group">
                      <label>Contraseña</label>
                      {{ params[0].password(class_='form-control') }}
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-3 pr-1">
                      <div class="form-group">
                        {{ params[0].recuerdame}}
                        <label>Recuérdame</label>
                      </div>
                  </div>
                </div>


                <div class="row">
                  <div class="col-md-6 pr-1">
                      <div class="update">
                        {{ params[0].ingresar(class_='btn btn-primary btn-round') }}
                      </div>
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>

      </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}
