<html>
<head>
<meta name="viewport" content="initial-scale=1.0, width=device-width" />
<link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.1/mapsjs-ui.css" />
<script src="https://js.api.here.com/v3/3.1/mapsjs-core.js"type="text/javascript" charset="utf-8"></script>
<script src="https://js.api.here.com/v3/3.1/mapsjs-service.js"type="text/javascript" charset="utf-8"></script>
<script src="https://js.api.here.com/v3/3.1/mapsjs-ui.js"type="text/javascript" charset="utf-8"></script>
<script src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js"type="text/javascript" charset="utf-8"></script>
<script>window.ENV_VARIABLE = 'developer.here.com'</script><script src='../iframeheight.js'></script>
</head>

<body style='margin: 0'>
<a href="{{ url_for('modificar_orden', numero_orden=params[2])}}"><button type="submit">Regresar</button></a>
<div style="width: 100%; height: 100%" id="mapContainer"></div>

<script>
      // Initialize the platform object:
      var platform = new H.service.Platform({
        'apikey': 'BtEM7GdK-A9WZQWQ9txljkOCR8gjtFCICHu8OTS_fr4'
      });

	   const lat = {{params[0]}};
	   const long = {{params[1]}};

	// Obtain the default map types from the platform object
      var maptypes = platform.createDefaultLayers();

      // Instantiate (and display) a map object:
      var map = new H.Map(
        document.getElementById('mapContainer'),
        maptypes.vector.normal.map,
        {
          zoom: 10,
          center: { lat: lat, lng: long },
          pixelRatio: window.devicePixelRatio || 1
        });

    window.addEventListener('resize', () => map.getViewPort().resize());

    var behavior = new H.mapevents.Behavior(new H.mapevents.MapEvents(map));

    var ui = H.ui.UI.createDefault(map, maptypes);

	var marker = new H.map.Marker({ lat: lat, lng: long });

	// Add the marker to the map:
	map.addObject(marker);


</script>
</body>
</html>